@model IEnumerable<CoworkingGestion.Models.Espacio>
@{
    ViewData["Title"] = "Espacios Disponibles";

    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2 class="mt-4">Espacios</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo Espacio</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Capacidad</th>
            <th>Estado</th>
            <th>Costo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Ubicacion</td>
                <td>@item.Capacidad</td>
                <td>@item.Estado</td>
                <td>@item.Costo.ToString("C")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEspacio" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdEspacio" class="btn btn-sm btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdEspacio" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>